body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    max-width: 100vw;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-cntr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calc-screen-cntr {
    background-color: aliceblue;
    height: 80px;
    width: 250px;
    margin-bottom: 10px;
}

.calc-screen {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}

button {
    height: 50px;
    width: 60px;
    cursor: pointer;
}

.row {
    margin-bottom: 5px;
}